<nav class="menu-usuario">
    <ul>
        <div>
        <li><a href= <%= linkLogin %> ><%= loginCadastroUsuario %></a>
            <ul>
                <li><a href="/sair">Sair</a></li>
            </ul>
        </li>
        </div>
    </ul>
</nav>