<nav class="menu-usuario">
    <ul>
        <li><a class="nome_usuario" href=<%=linkLogin %> ><%= loginCadastroUsuario %></a>
            <ul>
                <li><a href="/sair">Sair</a></li>
            </ul>
        </li>
    </ul>
</nav>