<nav class="menu">
<li class="menu-lista">
    <a href=<%= linkLogin %> class="menu-lista-link menu-lista-usuario"><%= loginCadastroUsuario %></a>
    <ul class="menu-sublista">
        <li class="menu-sublista-item">
            <a href="/sair" class="menu-sublista-sair">Sair</a>
        </li>
    </ul>
</li>
</nav>