<nav>
<ul>
    <li class="menu-usuario">
      <a href=<%=linkLogin %> class="menu-usuario-btn"><%= loginCadastroUsuario %></a>
      <div class="menu-usuario-oculto">
        <a href="/sair">Sair</a>
      </div>
    </li>
  </ul>
</nav>