<nav class="menu">
    <ul>
        <li><a href= <%= linkLogin %> ><%= loginCadastroUsuario %></a>
            <ul>
                <li><a href="/sair">Sair</a></li>
            </ul>
        </li>
    </ul>
</nav>