<section class="tipo-servico">
    <p>Categorias</p>
    <% tiposServicos.forEach(tipo=> { %>
        <div>
            <label>
                <input type="radio" name="idtipo_servico" id=<%=tipo.servico %> value = <%= tipo.idtipo_servico %> form=<%= formulario %>>
                    <%= tipo.servico %>
            </label>
        </div>
        <% }) %>
</section>