

<div class="TipoServico">
    <span>Categorias</span>    
        <div class="topicos">
            <% tiposServicos.forEach(tipo => { %>
                <div class="entrada">
                    <label>
                    <input  type="radio" 
                            name="idtipo_servico" 
                            class = bolaradiobutton
                            id    = <%= tipo.servico %>  
                            value = <%= tipo.idtipo_servico %>
                    >
                    <%= tipo.servico %>
                    </label>
                </div>
            <% }) %>
        </div>
    <br>
    <br>
</div>