<div class="TipoServico">
    <span>Categorias</span>
    <form action="" class="FormServico">
        
            <div class="topicos">
                <% tiposServicos.forEach(tipo=> {  %>
                    <div class="entrada">
                        <label>
                           <input type="radio" name="idtipo_servico" 
                                  value=<%=tipo.idtipo_servico %> form="formServico">
                           <%= tipo.servico %>
                        </label>
                    </div>
                <% }) %>
            </div>
        
    </form>
    <br>
    <br>
</div>
