<%- include('./partials/header') %>
<div class="administracao" >
  <a href="/admin/cadtiposervico"     
          >Cadastrar tipo de servico</a>
<br>
<br>
  <a href="/admin/listartiposervico"  
          >Listar tipos de servico</a>
<br>
<br>
  <a href="/admin/listarservico"      
          >Listar tabela servico</a>
</div>
<br>


<%- include('./partials/footer') %>


