<%- include('./partials/header') %>
<div class="administracao" >
  <a href="/admin/cadtiposervico"     
          >Cadastrar tipo de servico</a>
  <br>
  <br>
  <a href="/admin/listartiposervico"  
          >Listar tipos de servico</a>
  <br>
  <br>
  <a href="/admin/listarservico"      
          >Listar os Servicos</a>
  <br>
  <br>
  <a href="/admin/listarusuarios"      
          >Listar as pessoas cadastradas (usuários!)</a>
</div>
<br>


<%- include('./partials/footer') %>


