<%- include('./partials/header') %>
  <form action="../admin/cadtiposervico" id="formCadastroTipoServico" method="POST">
      <div>
          <label for="tiposervico">Tipo de Servico</label>
          <input type="text" id="tiposervico" name="tiposervico">
      </div>
      <button type="submit">Cadastrar</button>
  </form>
  <%- include('./partials/footer') %>
  