<%- include('./partials/header') %>
  <form action="../admin/cadtiposervico" id="formCadastroTipoServico" method="POST">
    <div class="login-cadastro-001">
      <div class="entrada">
          <label for="tiposervico">Tipo de Servico</label>
          <input type="text" id="tiposervico" name="tiposervico">
      </div>
      <div class="entrada">
      <button class="botoes-home" type="submit">Cadastrar</button>
      </div>
    </div>
  </form>
  <%- include('./partials/footer') %>
  