<%- include('./partials/header') %>
    <form action="cadastro/criar" id="formCadastroUsuario" method="POST">
      <div class="login-cadastro">
        <img src="images/CadastroTit.png" alt="Tit Cadastro">
        <div class="entrada">
          <img src="images/CadastroNome.png" alt="Tit Login Senha">
          <input type="text" id="nome" name="nome">
        </div>
        <div class="entrada">
          <img src="images/TitLoginEmail.png" alt="Tit Login e-mail">
          <input type="email" id="email" name="email">
        </div>
        <div class="entrada">
          <img src="images/TitLoginSenha.png" alt="Tit Login Senha">
          <input type="password" id="senha" name="senha">
        </div>
        <button class="botoes-home" type="submit">Cadastrar</button>
      </div>
    </form>
    <%- include('./partials/footer') %>