<%- include('./partials/header') %>
    <h1>Sou Cliente</h1>
    <div class="servico">
        <%- include('./partials/tipoServico.ejs') %>
            <form action="../servico/criar" id="formCadastroServico" method="POST">
                <div>
                    <label for="data_entrega">Data de entrega:</label>
                    <input type="date" id="data_entrega" name="data_entrega" required="true">
                </div>
                <div>
                    <label for="decricao">Descreva o Serviço:</label>
                    <textarea name="descricao" id="descricao" required="true"></textarea>
                </div>
                <div>
                    <label for="valor_a_pagar">Valor a pagar:</label>
                    <input type="number" step="0.01" placeholder="R$ 0.0" id="valor_a_pagar" name="valor_a_pagar"
                        required="true"><br><br>
                </div>
               
                <div>
                    <div>
                        <button type="submit">Criar Serviço</button>
                    </div>
                    <div>
                        <% if (locals.servicoCriado) { %>
                            <p class="erros">Serviço criado com sucesso!</p>
                            <% } %>
                    </div>
                                        
                </div>
            </form>
           
    </div>
    <%- include('./partials/footer') %>