<%- include('./partials/header') %>
  <form class="cadastro-usuario" action="cadastro/criar" id="formCadastroUsuario" method="POST">
    <div>
      <label for="nome">Nome:</label>
      <input type="text" id="nome" name="nome" required="true">
    </div>
    <div>
      <label for="email">E-mail</label>
      <input type="email" id="email" name="email" required="true">
    </div>
    <div>
      <label for="senha">Senha:</label>
      <input type="password" id="senha" name="senha" required="true">
    </div>
    <div>
      <label for="repetirSenha">Repetir senha:</label>
      <input type="password" id="repetirSenha" name="repetirSenha" required="true">
    </div>
    <button type="submit">Cadastrar</button>
  </form>
  <div class="erros">
    <ul></ul>
  </div>
  <%- include('./partials/footer') %>