<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posicionamentos Heidy 2021 09 13 - flutua posicionamento</title>
    <link rel="stylesheet" href="../public/stylesheets/posicionamento2.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li> <a href="#">Inicio</a></li>
                <li> <a href="#">Sobre</a></li>
                <li> <a href="#">Contato</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <img src="/home/ssdm2/Desktop/pi/freelancerja_digitalhouse/public/images/AMoca.png" alt="A Moça">
        <div>
            <img src="/home/ssdm2/Desktop/pi/freelancerja_digitalhouse/public/images/BtnSouCliente.png" alt="Cliente">
            <img src="/home/ssdm2/Desktop/pi/freelancerja_digitalhouse/public/images/BtnSouFreelancer.png" class="chat" alt="Simbolo do WhatsApp">
        </div>
        
    </main>
    <footer>
        Full Stack | DH
    </footer>
</body>
</html>