<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/indice.css'>
  </head>
  <body>


    <header>

    </header>
    <main>
      <section class="principal">
        <div class="topo">
          <img src="images/TxtFreelancerJa.png" alt="TxtFreelancerJa" title="TxtFree">  
          <img src="images/BtnLogin.png" alt="TxtFreelancerJa" title="TxtFree">  
        </div>
        
        <div class="moca">
          <img src="images/AMoca.png" alt="aMoça" title="AMoca">
          <div class="botao">
             <img src="images/BtnSouCliente.png" alt="souCliente" title="Cliente">
             <img src="images/BtnSouFreelancer.png" alt="souFreelancer" title="Freelancer">
          </div>
        </div>  
      </section>
  



      <h1><%= title %></h1>
      <p> benvindo  <%= title %></p>
    
    </main>
    
    <footer>

    </footer>
  </body>
</html>
