<%- include('./partials/header') %>
  <section>          <!--  class="principal"> --> 
    <div class="moca">
      <h1>Seja seu Chefe!</h1>
      <div class="inicio">
        <div style="padding-right: 5vw;">
        <a href="/servico">
          <button class="botoes-home">Sou Cliente</button>
        </a>
      </div>
      <div>
        <a href="/proposta">
          <button class="botoes-home">Sou Freelancer</button>
        </a>
      </div>
    </div>
  </section>
  <%- include('./partials/footer') %>