<%- include('./partials/header') %>
  <div class="moca">
    <img src="/images/pessoa_computador.svg" alt="estação de trabalho">
    <div class="inicio">
      <a href="/servico">
        <button>Sou Cliente</button>
      </a>
      <a href="/proposta/listaservicos">
        <button>Sou Freelancer</button>
      </a>
    </div>
    <%- include('./partials/footer') %>