<%- include('./partials/header') %>
  <section>         
    <div class="moca">
      <h1>Seja seu Chefe!</h1>
      <div class="inicio">
        <a href="/servico">
          <button class="botoes-home">Sou Cliente</button>
        </a>
        <a href="/proposta">
          <button class="botoes-home">Sou Freelancer</button>
        </a>
      </div>
    </div>
  </section>
  <%- include('./partials/footer') %>