<%- include('./partials/header') %>
  <div class="inicio">
    <img src="/images/pessoa_computador.svg" alt="estação de trabalho">
    <nav>
      <div>
        <ul>
          <li>
            <button>Sou Cliente</button>
            <ul>
              <li>
                <a href="../servico">
                  <button>Propor Serviço</button>
                </a>
              </li>
              <li>
                <a href="../servico/cliente/lista">
                  <button>Meus Serviços</button>
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <ul>
          <li>
            <button>Sou Freelancer</button>
            <ul>
              <li>
                <a href="../proposta/listaservicos">
                  <button>Ver Serviços</button>
                </a>
              </li>
              <li>
                <a href="../proposta/freelancer/listapropostas">
                  <button>Minhas Propostas</button>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <%- include('./partials/footer') %>