<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  </head>
  <body>

    <header>

    </header>
    <main> 
      <br>
      <h1 style="text-align: center;">Faz Login ou o Cadastro Inicial</h1>
      <br>
      <form action="/acaoLogin" id="form1" method="get">
      </form>
    <div class="logins">
               <img                   src="images/TitLoginFreelancerja.png" alt="Tit FreelancerJA" >
               <div class="linhaComDois">
               <img                   src="images/TitLoginEmail.png"        alt="Tit Login e-mail" >
               <input type="text" id="email" name="loginEmail" form="loginForm">
               </div>
               <div class="linhaComDois">
               <img                   src="images/TitLoginSenha.png"        alt="Tit Login Senha"  >
               <input type="text" id="senha" name="loginSenha" form="loginForm">
               </div>
               <div class="botaopreto">        
               <a href="/inicio"><img src="images/BtnLoginEntrar.png"       alt="Btn Login ENTRAR" > </a>
               </div>
               <div class="botaopreto">
               <a href="/cadastrarPessoa"> Faça seu cadastro </a> 
               </div>
    </div>           
    </main>
    
    <footer>

    </footer>
  </body>
</html>
