<%- include('./partials/header') %>
  <h1>Faz Login ou o Cadastro Inicial</h1>
  <form action="/submit" id="formLogin" method="POST">
    <div class="login-cadastro">
      <img src="images/CadastroTit.png" alt="Tit Cadastro">
      <div class="entrada">
        <img src="images/TitLoginEmail.png" alt="Tit Login e-mail">
        <input type="email" id="email" name="email" form="formLogin">
      </div>
      <div class="entrada">
        <img src="images/TitLoginSenha.png" alt="Tit Login Senha">
        <input type="password" id="senha" name="senha" form="formLogin">
      </div>
      <button class="botoes-home" type="submit">Entrar</button>
  </form>
  <%- include('./partials/footer') %>