<%- include('./partials/header') %>
  <h1>Seja seu chefe!</h1>
  <form action="/submit" id="formLogin" method="POST">
    <div class="email001">
      <label for="email">email</label>
      <input type="email" id="email" name="email">
    </div>          
    <div class="senha">
        <label for="senha">senha</label>
      <input type="password" id="senha" name="senha">
    </div>
    <div class="botoes-home001">
      <button class="botoes-home" type="submit">Entrar</button>
    </div>
        </form>
  <%- include('./partials/footer') %>