<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/soufreelancer.css'>
    <title><%= title %></title>
</head>
<body>
    <header
    style="display: flex;
    background-color: #38B6FF;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    /* text-justify: distribute; */
    height: 75px; ">
        <img class="imagem-logo" src="images/pagamento novo.png" alt="souFreelancer" title="SouFreelancer">
    </header>
        
    


