<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/soufreelancer.css'>
    <title><%= title %></title>
</head>
<body>
    <header
    style="display: flex;
    background-color: #38B6FF;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    /* text-justify: distribute; */
    height: 75px; ">
        <img class="imagem-logo" src="images/pagamento novo.png" alt="souFreelancer" title="SouFreelancer">
    </header>
    
    <div style="margin: 50px;">

       
          <h2 class="title">Pague com seu cartão de crédito</h2>
       
          <div class="progress-bar">
            <div class="step active"></div>
            <div class="step active"></div>
            <div class="step"></div>
            <div class="step"></div>
          </div>
       
          <div class="payment-method">
            <label for="card" class="method card">
              <div class="card-logos">
                <img src="https://designmodo.com/demo/checkout-panel/img/visa_logo.png"/>
                <img src="https://designmodo.com/demo/checkout-panel/img/mastercard_logo.png"/>
              </div>
       
              
            
            </label>
          </div>
       
          <div class="input-fields">
            <div style="margin-top:50px;">
                <label for="cardholder">Valor</label>
                <input type="text" id="cardholder" />
         
                <div class="small-inputs">
            <div style="margin-top:50px;">
              <label for="cardholder">Nome</label>
              <input type="text" id="cardholder" />
       
              <div style="margin-top:50px;">
                <div>
                  <label for="date">Validade do cartão</label>
                  <input type="text" id="date"/>
                </div>
       
                <div style="margin-top:50px;">
                  <label for="verification">CVV / CVC (código de três dígitos atrás do cartão) *</label>
                  <input type="password" id="verification"/>
                </div>
              </div>
       
            </div>
            <div style="margin-top:50px;">
              <label for="cardnumber">Numero do cartão</label>
              <input type="password" id="cardnumber"/>
       
              <span class="info"></span>
            </div>
          </div>
        </div>
       
        <div style="margin-top:50px;">
          <button style="color: #fff;
          background-color: #38B6FF;
          width: 200px;
          height: 50px;
          font-weight: bold;
          font-size: 30px;
          border-radius: 20px;
          border: #fff 5px solid;">Voltar</button>
          <button style="color: #fff;
          background-color: #38B6FF;
          width: 300px;
          height: 50px;
          font-weight: bold;
          font-size: 30px;
          border-radius: 20px;
          border: #fff 5px solid;">Concluir</button>
          <div style="
          margin-top: 100px;
          margin-left: 200px;
          color:#38B6FF;font-size: 30px;
         ">
         Freelancer ja   
         </div>    
        </div>
      </div>
    </div>


