<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
   <header 
        style=" 
        display: flex;
        background-color: #38B6FF;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;background-color:#38B6FF;color:white;margin-bottom: 50px; font-size: 60px;margin:0px;
        /* text-align: center; */
        /* text-justify: distribute; */
        height: 72px;">Proposta recusada</header>
        
        
  <!--  <div style="text-align: center; background-color:#38B6FF;color:white;margin-bottom: 50px; font-size: 60px"> Proposta aceita </div>-->
        <div style="display: flex; 
        flex-direction: column;
        justify-content: space-between;        
        align-items: center;
        width: 100vw; color:#38B6FF;font-size: 50px;margin-top: 30px;
                ">
              
                           <div style="height: 10vh;
                           justify-content: center;
                           align-items: center;margin-top: 50px; 
                           ">

                           Sua proposta foi recusada.
                           </div>  
       
                           
       
                           <div style="height: 10vh;
                            justify-content: center;
                            align-items: center;margin-top: 50px; 
                             ">
                            Código: 0000000001
                           </div>                
        </div>
                           <div style="
                            margin-top: 200px;
                            margin-left: 1100px;
                            color:#38B6FF;font-size: 30px;
                           ">
                           Freelancer ja   
                           </div>    
</body>
</html>