<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <header class="Proposta para Voce">
        <h1 style="text-align: center;color:rgb(240, 244, 245); font-size: 42px"> Proposta para você</h1>
        
    </header>
    <div class="PropostaServico" >
        
        <div class="TempoDescr">
            <div class="linhacomdois">
              <label for="fname">Data de entrega:</label>
              
            </div>
            <div class="linhacomdois">
            <label for="lname">Valor cobrado:</label>
            
            </div>
            <div class="linhacomdois">
            <label for="lname">Informações para executar o serviço:</label>
            
            </div>
             <a href="/proposta" class="RedirecionarServico1">
                <button class="BotaoCriarServico1">Clique e veja meus trabalhos</button>
            </a>
            <div class="doisbotoespretos">
                <a href="/proposta" class="RedirecionarServico">
                    <button class="BotaoCriarServico">aceitar</button>
                </a>   
                <a href="/proposta" class="RedirecionarServico">
                    <button class="BotaoCriarServico">recusar</button>
                </a>   
            </div>
            

        </div>
    </div>
</body>
</html>