<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/proposta.css'>
    <title><%= title %></title>
</head>
<body>
    <header class="TitProposta">
        Proposta
    </header>      
    
    <div class="PropostaServico" >
        <form action="/proposta" method="post">  
            <div class="TempoDescr">
                <div class="linhacomdois">
                    <label for="fname" style="color:rgb(27, 205, 236);"
                    ><strong>Tempo de entrega</strong>:</label>
                    <input type="text" id="fname" name="fname" size="80"
                    style="font-size: 60;"  >
                </div>
                <div class="descrevaoservico">
                    <label for="lname" style="color:rgb(27, 205, 236);"
                    ><strong>Descreva o Serviço</strong>:</label>
                    <input type="text" id="lname" size="80" name="lname" style="font-size: 60;">
                </div>
                <div class="valorapagar">
                    <label for="vname" style="color:rgb(27, 205, 236);"><strong>Valor a pagar</strong>:</label>
                    <input type="text" id="vname" name="vname" style="font-size: 60;">
                </div>
                <div class="trabalhosrealizados">
                    <label for="uname" style="color:rgb(27, 205, 236);"><strong>Trabalhos Realizados</strong:</label>
                    <img src="images/anexararquivo.png">
                    <img src="images/simboloupload.png">
                </div>    
            </div>
            <div id="botao">
                <a href="/propParaVoce"> 
                <button type="submit" class="botoes-home">Concluir Proposta</button>
                </a>
            </div>         
        </form>     

        <div  style="font-size: 22px;">
            <a href="/propParaVoce"> 
            <button type="submit" >continuidade navegação</button>
            </a>
        </div>         
    

        
    </div>
</body>
</html>
