<!DOCTYPE html>
<html lang="en">views\propostaaceita.ejs
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/propostaaceita.css'>
    <title>Proposta aceita<title>
</head>
<body>
    <header class="TituloSouCliente">
        <h1 style="text-align: center;color:rgb(240, 244, 245); font-size: 42px"> <%= title %> </h1>
        
    </header>
    <div class="Propostaaceita" >
      <div>
          Freelancer ja ira recebera 20% do pagamento
      </div>  
       <div>
           Cliente: Paulo Dalmeida
       </div> 
       <div>
           Telefone: 35988785354
       </div>
        <div>
            Freelancer ja
        </div>    
    </div>
</body>
</html>