<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/proposta.css'>
    <title><%= title %></title>
</head>
<body>
    <header class="TitProposta">
        Proposta
    </header>      
    
    <div class="PropostaServico" >
        
        <div class="TempoDescr">
            <label for="fname">Tempo de entrega:</label>
            <input type="text" id="fname" name="fname"><br><br>
            <label for="lname">Descreva o Serviço:</label>
            <input type="text" id="lname" name="lname"><br><br>
            <label for="lname">Valor a pagar:</label>
            <input type="text" id="lname" name="lname"><br><br>
            <a href="/soucliente">
            <button class="botoes-home">Concluir Proposta</button>
            </a>
    
        </div>
    </div>
</body>
</html>
