<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/propParaVoce.css'>
    <title><%= title %></title>
</head>
<body>
    <header class="TituloSouCliente">
        <h1 style="text-align: center;color:rgb(240, 244, 245); font-size: 42px"> <%= title %> </h1>
        
    </header>
    <div class="PropostaServico" >
        
        <div class="TempoDescr">
            <div class="linhacomdois">
              <label for="fname">Tempo de entrega:</label>
              <input type="text" id="fname" name="fname">
            </div>
            <div class="linhacomdois">
            <label for="lname">Valor cobrado:</label>
            <input type="text" id="lname" name="lname">
            </div>
            <div class="linhacomdois">
            <label for="lname">Informações para executar o serviço:</label>
            <textarea id="lname" name="lname" cols="30" rows="10" ></textarea>
            </div>
             <a href="/proposta" class="RedirecionarServico">
                <button class="BotaoCriarServico">Criar Serviço</button>
            </a>

            <a href="/inicio"><img src="images/BtnLoginEntrar.png"       alt="Btn Login ENTRAR" > </a>
            <a href="/cadastrarPessoa"> Faça seu cadastro </a> 

        </div>
    </div>
</body>
</html>