<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

</head>
<body>
          <h1 style="text-align: center; background-color:#38B6FF;color:white; font-size: 60px"> Proposta aceita </h1>
        <div style="display: flex; 
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
        width: 100vw; 
                ">

    <div class="Propostaaceita" >
      <div style="height: 10vh;
      justify-content: center;
      align-items: center; 
     ">

          Freelancer ira receber 20% do pagamento
      </div>  
       
        <div style="height: 10vh;
        justify-content: center;
        align-items: center; 
       ">
           Cliente: Paulo Dalmeida
       </div> 
       
        <div style="height: 10vh;
        justify-content: center;
        align-items: center; 
       ">
           Telefone: 35988785354
       </div>
        
            <div style="height: 10vh;
      justify-content: center;
      align-items: center; 
     ">
            Freelancer ja
        </div>    
    </div>
    </div>
</body>
</html>