<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/proposta.css'>
    <title><%= title %></title>
</head>
<body>
    <header class="TitProposta">
        Proposta
    </header>      
    
    <div class="PropostaServico" >
        <form action="/proposta" method="post">  
            <div class="TempoDescr">
                <div class="linhacomdois">
                    <label for="fname" style="color:rgb(27, 205, 236);padding-right: 30px;"
                    ><strong>Tempo de entrega</strong>:</label>
                    <textarea id="lname" name="lname" cols="60" rows="1"></textarea>
                    </div>
                <div class="descrevaoservico" style="display: flex; flex-direction: row; align-items: center;padding-right: 50px;" >
                    
                    <div>
                    <label for="lname" style="color:rgb(27, 205, 236);padding-right: 15px;"
                    ><strong>Descreva o Serviço</strong>:</label>
                    </div>
                    <div>
                    <textarea id="lname" name="lname" cols="60" rows="10"></textarea>
                    </div>
                </div>
                <div class="valorapagar">
                    <label for="vname" style="color:rgb(27, 205, 236);padding-right: 125px;"><strong>Valor a pagar</strong>:</label>
                    <textarea id="lname" name="lname" cols="60" rows="1"></textarea>
                    </div>
                <div class="trabalhosrealizados" 
                    style="display: flex; flex-direction: row; align-items: center;" >
                    <div>
                        <label for="uname" style="color:rgb(27, 205, 236);">Trabalhos Realizados:</label>
                    </div>
                    <div>
                        <img src="images/anexararquivo.png" style="padding-top: 20px;">
                    </div>
                    <div>
                        <img src="images/simboloupload.png">
                    </div>
                </div>    

                </div>    
            </div>
            <div class="botao">
                <a href="/inicio"> 
                <button type="submit" class="botoes-home">Concluir Proposta</button>
                </a>
            </div>         
        </form>     

       
    

        
    </div>
</body>
</html>
