<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/proposta.css'>
    <title><%= title %></title>
</head>
<body>
    <header class="TitProposta">
        Proposta
    </header>      
    
    <!-- <div class="PropostaServico" > -->
        
        <div class="TempoDescr">
            <div class="linhacomdois">
            <label for="fname" style="color:rgb(27, 205, 236);">Tempo de entrega:</label>
            <input type="text" id="fname" name="fname" style="font-size: 60;"  >
            </div>
            <div class="linhacomdois">
            <label for="lname" style="color:rgb(27, 205, 236);">Descreva o Serviço:</label>
            <input type="text" id="lname" name="lname" style="font-size: 60;">
            </div>
            <div class="linhacomdois">
            <label for="vname" style="color:rgb(27, 205, 236);">Valor a pagar:</label>
            <input type="text" id="vname" name="vname" style="font-size: 60;">
            </div>
        </div>
        <div id="botao">
            <a href="/soucliente">
              <button class="botoes-home">Concluir Proposta</button>
            </a>
        </div>    
    <!-- </div> -->
</body>
</html>
