<%- include('./partials/header') %>
    <h1>
        <%= loginCadastroUsuario %>
    </h1>
    <p>Sua proposta foi criada com sucesso!</p>
    <nav>
        <ul>
            <li>
                <a href="../proposta/listaservicos">
                    <button>Ver Serviços</button>
                </a>
            </li>
            <li>
                <a href="../proposta/freelancer/listapropostas">
                    <button>Minhas Propostas</button>
                </a>
            </li>
        </ul>
    </nav>
    <%- include('./partials/footer') %>