<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/estilos.css' />
  </head>
  <body>
    <header>
      <img src="images/AMoca.png" alt="logo" title="logo"> 
    </header>
    <main>
      
      <h1><%= title %></h1>
      <p>Benvindo <%= title %></p>
    </main>
  </body>
</html>
