<!DOCTYPE html>
<html>
  <head>
    <style>
      .img {
        width: 500;
        height: auto;
      }
    </style>

    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/inicio.css'>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posicionamentos Heidy 2021 09 13 - flutua posicionamento</title>
    <!-- link rel="stylesheet" href="posicionamento2.css" -->
  </head>
  </head>
  <body>

    <header>

    </header>
    <main> 
      <br>
      <h1 style="text-align: center;">Mapa de Telas do FreelancerJA </h1>
      <br>
      <section class="img"></section>
        <img src="images/MapadeTelas.png" style="width: 100%;" alt="mapa de telas" >
      </section>
    </main>
    
    <footer>

    </footer>
  </body>
</html>
