<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/soucliente.css'>
    <title><%= title %></title>
</head>
<body>
    <header class="TituloSouCliente">
        <img class="imagem-logo" src="images/TitIndicaSouCliente.png" alt="soucliente" title="Sou Cliente">
    </header>
    <div class="PropostaServico" >
        <div class="TipoServico">
            <span>Tipo de serviço que gostaria de Contratar</span>
            <form action="" class="FormServico">
                <div class="topicos">
                    <% servicos.forEach(tipo => { %>
                        <div class="entrada">
                    <input type="radio" name="servicos" id=<%= tipo.servico %>  value=<%= tipo.idtipo_servico %>>
                    <label for="servicos"><%= tipo.servico %></label>
                </div>
                    <% }) %>
                </div>
              </form>
            <br>
            <br>
        </div>
        <div class="TempoDescr">
            <label for="fname">Tempo de entrega:</label>
            <input type="text" id="fname" name="fname"><br><br>
            <label for="lname">Descreva o Serviço:</label>
            <textarea id="lname" name="lname" cols="30" rows="10" ></textarea><br><br>
            <label for="lname">Valor a pagar:</label>
            <input type="text" id="lname" name="lname"><br><br>
            <a href="/servicocriado" class="RedirecionarServico">
                <button class="BotaoCriarServico">Criar Serviço</button>
            </a>
        </div>
    </div>
</body>
</html>