<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/soucliente.css'>
    <title><%= title %></title>
</head>
<body>
    <header class="TituloSouCliente">
        <img class="imagem-logo" src="images/TitIndicaSouCliente.png" alt="soucliente" title="Sou Cliente">
    </header>
    <div class="PropostaServico" >
        <div class="TipoServico">
            <span>Tipo de serviço que gostaria de Contratar</span>
            <form action="/action_page.php" class="FormServico">
                <div class="topicos">
                    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                    <label for="vehicle1"> Designer Gráfico</label>
                </div>
                <div class="topicos">
                    <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
                    <label for="vehicle2"> Programação</label>
                </div>
                <div class="topicos">
                    <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                    <label for="vehicle3"> Tradução</label>
                </div>
                <div class="topicos">
                    <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                    <label for="vehicle3"> Marketing Digital</label>
                </div>
                <div class="topicos">
                    <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                    <label for="vehicle3"> Jurídico</label>
                </div>
                <div class="topicos">
                    <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                    <label for="vehicle3"> UI / UX Designer</label>
                </div>
                <div class="topicos">
                    <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                    <label for="vehicle3"> Administrativo</label>
                </div>
                <div class="topicos">
                    <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                    <label for="vehicle3"> Aulas</label>
                </div>
                <!-- <input type="submit" value="Submit"> -->
              </form>
            <br>
            <br>
        </div>
        <div class="TempoDescr">
            <label for="fname">Tempo de entrega:</label>
            <input type="text" id="fname" name="fname"><br><br>
            <label for="lname">Descreva o Serviço:</label>
            <textarea id="lname" name="lname" cols="30" rows="10" ></textarea><br><br>
            <label for="lname">Valor a pagar:</label>
            <input type="text" id="lname" name="lname"><br><br>
            <a href="/servicocriado" class="RedirecionarServico">
                <button class="BotaoCriarServico">Criar Serviço</button>
            </a>
        </div>
    </div>
</body>
</html>