<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/soufreelancer.css'>
    <title><%= title %></title>
</head>
<body>
    <header class="TituloSouCliente">
        <img class="imagem-logo" src="images/TitIndicaSouFreelancer.png" alt="souFreelancer" title="SouFreelancer">
    </header>
    <div class="PropostaServico" >
        <div class="TipoServico">
            <span>Categorias</span>
            <form action="" class="FormServico">
                <div class="topicos">
                    <% servicos.forEach(tipo => { %>
                        <div class="entrada">
                    <input type="radio" name="servicos" id=<%= tipo.servico %>  value=<%= tipo.idtipo_servico %>>
                    <label for="servicos"><%= tipo.servico %></label>
                </div>
                    <% }) %>
                </div>
              </form>
            <br>
            <br>
        </div>
        <div class="TempoDescr">



            <div class="divBusca" style="display: flex;">
                <input type       ="text"               
                       class        ="txtBusca"   
                       placeholder="Buscar..."/>
                <img src="images/imagemlupa.png" class="imagemlupa" alt="Buscar"/>
            </div>

            <br>
            
            <div class="DescricaoValor">                
                <div class="textodescricao">
                   <label> Categoria: Designer Grafico </label>
                </div>
                   <div class="textodescricao">
                    <label> Código: 0000001 </label>
                   </div>                
                <div class="descricaodoservico">
                <div class="descricaoDoServico2">    
                  <label for="lname">Descrição do Serviço:</label>
                </div>
                <div class="caixa2">
                    <textarea id="lname" name="lname" cols="60" rows="10" ></textarea><br><br>    
                </div>               
                </div> 
                <div class="textodescricao">
                </div>
                <div class="valor">
                  <label for="lname">Valor a Pagar:</label>
                  </div>
                  <div class="caixa3">
                  <textarea cols="60" rows="1" id="lname" name="lname"></textarea><br><br>
                  </div>
                </div>                               
                  <a href="/proposta" class="RedirecionarServico">    
                      <button class="BotaoCriarServico">Criar Proposta</button>
                  </a>
                 
            </div>
        </div>
    </div>
</body>
</html>
