<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/soufreelancer.css'>
    <title><%= title %></title>
</head>
<body>
    <header class="TituloSouFreelancer">
        <img class="imagem-logo" src="images/TitIndicaSouFreelancer.png" alt="soucliente" title="Sou Cliente">  
    </header>      
    
    <div class="PropostaServico" >
        <div class="TipoServico">
            <br>
            <br>
            Categorias 
            <form action="/action_page.php">
                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                <label for="vehicle1"> Designer Gráfico</label><br>
                <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
                <label for="vehicle2"> Programação</label><br>
                <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                <label for="vehicle3"> Tradução</label><br><br>
                <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                <label for="vehicle3"> Marketing Digital</label><br><br>
                <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                <label for="vehicle3"> Jurídico</label><br><br>
                <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                <label for="vehicle3"> UI / UX Designer</label><br><br>
                <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                <label for="vehicle3"> Administrativo</label><br><br>
                <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                <label for="vehicle3"> Aulas</label><br><br>
                <!-- <input type="submit" value="Submit"> -->
              </form> 
            <br>
            <br>
        </div>
        <div class="TempoDescr">
            <label for="fname">(lupa de pesquiza)</label>
            <input type="text" id="fname" name="fname"><br><br>
            <label for="lname">Descreva o Serviço:</label>
            <input type="text" id="lname" name="lname"><br><br>
            <label for="lname">Valor a pagar:</label>
            <input type="text" id="lname" name="lname"><br><br>
            <a href="/soucliente">
            <button class="botoes-home">Fazer Proposta</button>
            </a>
    
        </div>
    </div>
</body>
</html>
