* {
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #cccccc;
 }


.principal {
/*    height: 100%; */
    width: 100%;
    display: flex;
/*    justify-content: space-between; alinha horizontal */
    flex-direction: column;
  }

.topo {
  display:flex;
  justify-content: space-between;
  align-items: center;
  height: 5em;
}

.topo .imagem-logo {
  width: 300px;
}

.moca {
  width: 100%;
  height: 100vh;
  background-image: url('/images/AMoca.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.moca h1 {
  color: #fff;
  font-size: 72px;
}

.botoes-home {
  color: #fff;
  background-color: #38B6FF;
  width: 400px;
  height: 80px;
  font-weight: bold;
  font-size: 36px;
  border-radius: 20px;
  border: #fff 5px solid;
}