* {
  box-sizing: border-box;
}

header {
display: flex;
background-color: #1bd5db; 
width: 100%;

flex-direction: row;
align-items: center;
justify-content: center;
/* text-align: center; */
/* text-justify: distribute; */
height: 72px;

font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 70px;

color: #FFFFFF;
}


body {
  display: flex;
  flex-direction: column;  
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.TituloSouCliente {
font-style: italic; 
background-color: #1bd5db;
}

.PropostaServico {
display: flex;
flex-direction: column;  
/* justify-content: center; */
align-items: center;
width: 100%;
height: 50vh;
justify-content: space-between;
}

div#botao {
  display: flex;
  justify-content: center;
  /* align-items: flex-end; */
  margin-top: 250px;
}

.botoes-home {
  color: #fff;
  background-color: #38B6FF;
  width: 400px;
  height: 80px;
  font-weight: bold;
  font-size: 42px;
  border-radius: 25px;
  border: #fff 5px solid;
}

.TempoDescr {
  color: #fff;
    width: 1000px;
 justify-content: space-around;
  font-weight: bold;
  font-size: 42px;
  border-radius: 25px;
  align-items: center;
  
}

.descrevaoservico{
  margin-top: 50px;
  justify-content: space-between;
}

.valorapagar{
  margin-top: 50px;
}

