:root{
    --cor-principal: #38B6FF
}

@font-face{
    font-family: SansitaOne;
    src: url('/fonts/SansitaOne.ttf');
}

*{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: .2vw;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-principal);
    height: 4vh;
    width: 98vw;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1vw;
    padding-right: 1vw;
    border-bottom: 1vh solid white;
    font-family: SansitaOne;
}

header p{
    margin: 0;
    padding: 0;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    font-weight: bolder;
}

nav{
    margin: 0;
    padding: 0;
}

main{
    height: 90vh;
    width: 100vw;
    overflow: auto;
    background-color:white;    
}

main h1{
    color: white;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 100vw;
    background-color: var(--cor-principal);
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form label, form input{
   display: inline-block;
}

form div{
   padding: 1vh;
}

input, textarea, button{
    border: 0.2vw solid;
    border-radius: 2vw;
    padding: 1vh 1vh;
}

input, textarea{
    border-color: gray;
}

button{
    cursor: pointer;
    color: white;
    background-color: var(--cor-principal);
}

button:hover{
    color: var(--cor-principal);
    background-color: white;
    border-color: var(--cor-principal);
}

.moca{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-image: url('/images/AMoca.png');
    background-size: cover;
    background-position: center;
}

.moca p, .moca label{
    color: white;
    text-shadow: -1vw 0vw 2vw black
}

.moca p{
    font-size: 3em;
    padding-bottom: 4vh;
}

.moca form div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.moca label{
    font-size: 1.2em;
}

.moca form input{
    min-height: 3vh;
    min-width: 30vw;
}

.moca button{
     min-height: 3vh;
     min-width: 10vw;
}

.inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vh;
    height: 88vh;
}

.inicio img{
    padding-bottom: 10vh;
    width: 50vh;
}

.inicio button{
    min-height: 5vh;
    min-width: 30vw;
}

.moca img{
    max-height: 40vh;
    max-width: 40vw;
    height: auto;
    width: auto;
}

.tipo-servico{
    max-width: 20vw;
      
}

.tipo-servico div{
    padding-bottom: 2.5vh;
}

.tipo-servico, .servico form, .proposta .cards, .cadastro-usuario, .concluir-proposta form{
    background-color: #cdcdcd;
    border-radius: 2vw;
    padding: 2vh;
}

.tipo-servico p{
    text-align: center;
}

.tipo-servico input[type="radio"]{
    height: 2vh;
    width: 2vh;
}

.servico form div, .concluir-proposta form div{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.concluir-proposta form input, .concluir-proposta form textarea{
    width: 30vw;
}


.servico form label{    
    min-width: 20vw;
}



.cadastro-usuario label{
    min-width: 15vw;
}

.servico form input, .servico textarea{
    display: inline-block;
    min-width: 30vw;
}

.cadastro-usuario input{
    min-width: 35vw;
}

.servico, .proposta{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 85vh;
    padding-left: 1vw;
    padding-right: 1vw;
}

.servico .tipo-servico, .proposta .tipo-servico{
    height: 75vh;
    width: 20vw;
}

.servico form{
    justify-content: space-between;
    min-height: 68vh;
    min-width: 50vw;
}

.servico div div p{
color: white;
}


.servico textarea, .concluir-proposta textarea{
    resize: none;
    height: 44vh;
}

.proposta .cards{
    display: flex;
    flex-direction: column;
    max-height: 68vh;
    max-width: 70vw;
    overflow: overlay;
    padding: 2vh;
}

.proposta div{
    display: flex;
    flex-direction: column;
}

.proposta .buscar{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    padding-bottom: 2vh;
}

.proposta .buscar input[type="text"]{
    width: 70vw;
}

.concluir-proposta{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

.concluir-proposta label{
    min-width: 25vw;
}

.cards .card{
    background-color: white;
    color: var(--cor-principal);
    border-radius: 2vw;
    padding: 2vh;
    margin: 2vh;
    align-items: center;
}


.card div{
    display: flex;
}

.card div div{
    flex-direction: row;
    justify-content: space-between;
}

.card div div div{
    flex-direction: column;
    padding: 0;
}


.erros{
    color: red;
    text-shadow: 0.7vw 0vw 0.7vw white;
}

li:empty{
    display: none;
}
 
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4vh;
    width: 100vw;
    border-top: 1vh solid white;
    background-color: var(--cor-principal);   
}

/* menu usuario */
nav ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
  
nav li a, .menu-usuario-btn {
    display: inline-block;
    padding: 1.3vh 0;
}
  
li.menu-usuario {
    display: inline-block;
}
  
.menu-usuario-oculto {
    display: none;
    position: absolute;
    background-color: var(--cor-principal);
    max-height: 4vh;
    min-width: 20vw;
    box-shadow: 0vh .5vw 1vh 0vh rgba(0,0,0,0.2);
    z-index: 1;
}
    
.menu-usuario:hover .menu-usuario-oculto {
    display: block;
}