@font-face {
    font-family: SansitaOne;
    src: url('../Fontes/SansitaOne.ttf');
 }

* { 
    font-family: SansitaOne, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header ul li a{
    color: #38B6FF;
}

body{
    margin: 0;
    padding: 0;
}

body h1{
    text-align: center;
}

header {
    
font-size: 150%;
line-height: 75px;
color: #38B6FF;
}

header a{    
text-decoration:none;
}

header a:visited{    
    color: #38B6FF;
    }

    header .menu a:visited{    
        color: #38B6FF;
        }

header .menu-lista{
    font-size: 50%;
}



/*header {
    background-color: #cccccc;
    Width: 1481px;
    Top: 134,01px;
}*/

header #imagemFreelancerJa{
    width: 30%;
}

header .login-cadastro-usuario{
    font-size: 120%;
}

img.imagem-logo {
    margin: 26px 0 28px 28px;
    width: 20%;
}

img.imglogin {
    margin: 42px 15px 45px 0px;
}

footer{
        position: relative;
        display:flex;
        align-items: center;
        height: 4em;
        justify-content: center;
        flex-direction: row;
        border-top: 10px solid #38B6FF;
}

.topo {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 4em;
    border-bottom: 10px solid #38B6FF;
}

.moca {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:  100vw;
    height:  80vh;
    background-image: url('/images/AMoca.png');
    background-size: cover;
    background-position: center;
}

.moca h1 {
    color: #fff;
    font-size: 72px;
}

.inicio{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    
}

.login-cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-cadastro .botoes-home{
    width: 150%;
    height: 130%;
}

.login-cadastro .botoes-home:hover{
    color:#38B6FF; 
    background-color: #fff; 
    border-color:#38B6FF;
}


.botoes-home {
    color: #fff;
    background-color: #38B6FF;
    width: 20vw;
    /* height: 50%; */
    font-weight: bold;
    font-size: 2rem;
    border-radius: 20px;
    border: #fff 5px solid;
    min-width: 305px;
    /* max-width: 175px; */    
}

.botoes-home:hover { 
    color:#38B6FF; 
    background-color: #fff; 
    border-color:#38B6FF;
  }

.row {
    width: 100%;
    padding: 20px;
    background-color: #cccccc;
    margin-top: 50px;
    margin-bottom: 50px;
}

.formServico .BotaoCriarProposta {
    margin-left: 2%;
    background-color: #38B6FF;
    width: 200px;
    height: 50px;
    font-weight: bold;
    font-size: 12px;
    border-radius: 25px;
    border: #fff 5px solid;
}

.login-cadastro-001 {
    display: flexbox;
    flex-direction: column;
    justify-items:flex-end;
}

.entrada {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    height: 50px;
    width: 60vw;   
    padding-bottom: 0.5vh; 
    padding-top:    0.5vh; 
    margin: 25px 0;
}

.entrada input {
height: 25px;
border-color: #38B6FF;
}

/* .entrada{
    display: flex;
    align-items: center;
                          line-height: 3;
} */ 

.PropostaServico {
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: flex-start;
    margin-left: 30px;
}

.TipoServico span {
    color: #1C1F66;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
}

.TituloSouCliente {
    background-color: #1BD5DB;
}

.TipoServico {
    background-color: #C4C4C4;
    border-radius: 20px;
    width: 40%;
    height: 80vh;
    padding: 10px;
}


.FormServico {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
}
.FormServico div label {
    font-weight: bold;
}

.TempoDescr {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 80vh;
    margin-left: 5vw;
}
.TempoDescr label { 
    font-weight: bold;
}

.TempoDescr textarea {
    resize: none;
}

.TempoDescr .RedirecionarServico {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.TempoDescr .BotaoCriarServico {
    color: #fff;
    background-color: #38B6FF;
    width: 300px;
    height: 60px;
    font-weight: bold;
    font-size: 30px;
    border-radius: 20px;
    border: #fff 5px solid;
}
/* 
.divBusca{
    display: flex;
    justify-content: space-between;
    background-color:#C4C4C4;
    border:solid 1px;
    border-radius:15px;
    width:520px;
}


.txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:20px;
    border:none;
    height:32px;
    width:460px;
    border-radius:15px;
}
 */

.imagemlupa {
    height:60%;
    border-radius:2em;
}

.DescricaoValor {
    background-color: #C4C4C4;
    border-radius: 20px;
    width: 96%; 
    height: 80vh;
}


.categcodigo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 50px;
}

.topicos {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 200px;
}


.textodescricao {
    margin-left: 30px;
    margin-top: 20px;
    justify-content: space-between;
}

.descricaoDoServico2 {
    margin-left: 30px;
    margin-top: 20px;
    justify-content: space-between;
}

.caixa2 {
    margin-left: 30px;
    margin-top: 20px;
    justify-content: space-between;
}

.valor {
    margin-left: 30px;
    margin-top: 20px;
    justify-content: space-between;
}

.caixa3 {
    margin-left: 30px;
    margin-top: 20px;
    justify-content: space-between;
}

input{
    border-radius: 2em;
    border-color:  #E5E5E5;
    padding-left:  0.8em;
    padding-right: 0.8em;
}

.txtBusca{
    height: 150%;

}

form button{
    cursor: pointer;
}

.divBusca button{
    height: 50%;
    width: 80%;
    background:  url('/images/imagemlupa.png');
    background-repeat: no-repeat;
    border: none;

}

textarea{
    border-radius: 2em;
    border-color: #E5E5E5;
}

.menu ul ul {
    position: absolute;
    visibility: hidden;
    }

.menu ul li:hover ul {
    visibility: visible;
    }

.menu li{
    list-style-type: none;
}

.email001 {
    display:flex;
    flex-direction:row;
    justify-content:center;
    padding-bottom: 2vh;
    color: white
}
.senha{
    display: flex;
    flex-direction: row;     /* column; */
    justify-content: center; /* align-items: center; */
    padding-bottom: 2vw;
    color: white
}    
.botoes-home001 {
    display: flex;
    flex-direction:column;
    align-items:center;
    padding-bottom: 2vh;     
}
.textoFreelancerJa {
    padding-left: 5vw;
    font-size: 50px;
}
#atribuipddright {
    padding-right: 5vw;
}
label {
    padding-right: 1vw;
} 
.justificavertival {
    padding-bottom: 10vh;
}
.class-padding-right-5vw {
    padding-right: 5vw;
}