:root{
    --cor-principal: #38B6FF
}

@font-face{
    font-family: SansitaOne;
    src: url('/fonts/SansitaOne.ttf');
}

*{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: .2vw;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-principal);
    height: 4vh;
    width: 98vw;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1vw;
    padding-right: 1vw;
    border-bottom: 1vh solid white;
    font-family: SansitaOne;
}

header p{
    margin: 0;
    padding: 0;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    font-weight: bolder;
}

nav{
    margin: 0;
    padding: 0;
}

main{
    height: 90vh;
    width: 100vw;
    overflow: auto;
    background-color:white;    
}

main h1{
    color: white;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 100vw;
    background-color: var(--cor-principal);
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form label, form input{
   display: inline-block;
}

form div{
   padding: 1vh;
}

input, textarea, button{
    border: 0.2vw solid;
    border-radius: 2vw;
    padding: 1vh 1vh;
}

input, textarea{
    border-color: gray;
}

button{
    cursor: pointer;
    color: white;
    background-color: var(--cor-principal);
}

button:hover{
    color: var(--cor-principal);
    background-color: white;
    border-color: var(--cor-principal);
}

.moca{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-image: url('/images/AMoca.png');
    background-size: cover;
    background-position: center;
}

.moca p, .moca label{
    color: white;
    text-shadow: -1vw 0vw 2vw black
}

.moca p{
    font-size: 3em;
    padding-bottom: 4vh;
}

.moca form div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.moca label{
    font-size: 1.2em;
}

.moca form input{
    min-height: 3vh;
    min-width: 30vw;
}

.moca button{
     min-height: 3vh;
     min-width: 10vw;
}

.inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vh;
    height: 88vh;
}

.inicio img{
    padding-bottom: 10vh;
    width: 50vh;
}

.inicio button{
    min-height: 5vh;
    min-width: 30vw;
}

.moca img{
    max-height: 40vh;
    max-width: 40vw;
    height: auto;
    width: auto;
}

.tipo-servico{
    max-width: 20vw;
      
}

.tipo-servico div{
    padding-bottom: 2.5vh;
}

.tipo-servico, .servico form, .proposta .cards, .cadastro-usuario, .concluir-proposta form{
    background-color: #cdcdcd;
    border-radius: 2vw;
    padding: 2vh;
}

.tipo-servico p{
    text-align: center;
}

.tipo-servico input[type="radio"]{
    height: 2vh;
    width: 2vh;
}

.servico form div, .concluir-proposta form div{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.concluir-proposta form input, .concluir-proposta form textarea{
    width: 30vw;
}


.servico form label{    
    min-width: 20vw;
}



.cadastro-usuario label{
    min-width: 15vw;
}

.servico form input, .servico textarea{
    display: inline-block;
    min-width: 30vw;
}

.cadastro-usuario input{
    min-width: 35vw;
}

.servico, .proposta{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 85vh;
    padding-left: 1vw;
    padding-right: 1vw;
}

.servico .tipo-servico, .proposta .tipo-servico{
    height: 75vh;
    width: 20vw;
}

.servico form{
    justify-content: space-between;
    min-height: 68vh;
    min-width: 50vw;
}

.servico div div p{
color: white;
}


.servico textarea, .concluir-proposta textarea{
    resize: none;
    height: 44vh;
}

.proposta .cards{
    display: flex;
    flex-direction: column;
    max-height: 68vh;
    max-width: 70vw;
    overflow: overlay;
    padding: 2vh;
}

.proposta div{
    display: flex;
    flex-direction: column;
}

.proposta .buscar{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    padding-bottom: 2vh;
}

.proposta .buscar input[type="text"]{
    width: 70vw;
}

.concluir-proposta{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

.concluir-proposta label{
    min-width: 25vw;
}

.cards .card{
    background-color: white;
    color: var(--cor-principal);
    border-radius: 2vw;
    padding: 2vh;
    margin: 2vh;
    align-items: center;
}


.card div{
    display: flex;
}

.card div div{
    flex-direction: row;
    justify-content: space-between;
}

.card div div div{
    flex-direction: column;
    padding: 0;
}


.erros{
    color: red;
    text-shadow: 0.7vw 0vw 0.7vw white;
}

li:empty{
    display: none;
}
 
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4vh;
    width: 100vw;
    border-top: 1vh solid white;
    background-color: var(--cor-principal);   
}

/* menu usuario */
nav ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
  
nav li a, .menu-usuario-btn {
    display: inline-block;
    padding: 1.3vh 0;
}
  
li.menu-usuario {
    display: inline-block;
}
  
.menu-usuario-oculto {
    display: none;
    position: absolute;
    background-color: var(--cor-principal);
    max-height: 4vh;
    min-width: 20vw;
    box-shadow: 0vh .5vw 1vh 0vh rgba(0,0,0,0.2);
    z-index: 1;
}
    
.menu-usuario:hover .menu-usuario-oculto {
    display: block;
}

/* fim do menu usuario */


/* css antigo
@font-face {
    font-family: SansitaOne;
    src: url('../Fontes/SansitaOne.ttf');
}

* {
    font-family: SansitaOne, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 2vw;
}

body{
    margin: 0;
    padding: 0;
}

body h1{
    text-align: center;
}

header .topo{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 4vw;
    width: 100vw;
    border-bottom: .5vw solid #FFF;
    background-color: #38B6FF;
}

#faleconosco {
    color: #FFF;
    align-items: center;
}

footer .topo{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 4vw;
    width: 100vw;
    border-top: .5vw solid #FFF;
    background-color: #38B6FF;
}


#faleconosco a {
    text-decoration: none;
}


header ul li a{
    color: #38B6FF;
}

header a{    
    text-decoration:none;
}
    
header a:visited{    
    color: #38B6FF;
}
    
header .menu a:visited{
    color: #38B6FF;
}


img.imagem-logo {
    margin: 26px 0 28px 28px;
    width: 20%;
}

img.imglogin {
    margin: 42px 15px 45px 0px;
}

.moca {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width:  100vw;
    height:  85vh;
    background-image: url('/images/AMoca.png');
    background-size: cover;
    background-position: center;
}

.moca h1 {
    color: white;
    font-size: 5vw;
    letter-spacing: .2vw;
    text-shadow: -1vw 0vw 2vw black;
}

.inicio{
    width: 65vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;    }

.login-cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-cadastro .botoes-home{
    width: 150%;
    height: 130%;
}

.login-cadastro .botoes-home:hover{
    color:#38B6FF; 
    background-color: #fff; 
    border-color:#38B6FF;
}

.row {
    width: 100%;
    padding: 20px;
    background-color: #cccccc;
    margin-top: 50px;
    margin-bottom: 50px;
}

.formServico .BotaoCriarProposta {
    margin-left: 2%;
    background-color: #38B6FF;
    width: 200px;
    height: 50px;
    font-size: 12px;
    border-radius: 25px;
    border: #fff 5px solid;
}

.login-cadastro-001 {
    display: flexbox;
    flex-direction: column;
    justify-items:flex-end;
}

.entrada {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;
    height: 50px;
    width: 60vw;   
    padding-bottom: 0.5vh; 
    padding-top:    0.5vh; 
    margin: 0.5vh;
}

.entrada input {
height: 25px;
border-color: #38B6FF;
}

.PropostaServico {
    gap: 5vw;
    display: grid;
    grid-template-columns:  1fr 2fr;
    width: 100%;
    height: 80vh;
    padding: 30px;
    justify-content: flex-start;
    background-color: #38B6FF;
}

.TipoServico span {
    color:#fff;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.TituloSouCliente {
    background-color: #1BD5DB;
}

.TipoServico {
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 20px;
    height: 100%;
    padding: 10px;
}

.FormServico {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
    width: 100%;
}

.TempoDescr {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
}

.TempoDescr textarea {
    resize: none;
}

.TempoDescr .RedirecionarServico {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.TempoDescr .BotaoCriarServico {
    color: #fff;
    background-color: #38B6FF;
    width: 300px;
    height: 60px;
    font-size: 30px;
    border-radius: 20px;
    border: #fff 5px solid;
}

.divBusca{
    display: flex;
    justify-content: space-between;
    background-color:#C4C4C4;
    border:solid 1px;
    border-radius:15px;
    width:520px;
}


.txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:20px;
    border:none;
    height:32px;
    width:460px;
    border-radius:15px;
}

.imagemlupa {
    height:60%;
    border-radius:2em;
}

.DescricaoValor {
    background-color: #C4C4C4;
    border-radius: 20px;
    width: 96%; 
    height: 80vh;
}


.categcodigo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 50px;
}

.topicos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    margin-top: 0.5vh;
    margin-left: 0.5vw;
}


.textodescricao {
    margin-left: 30px;
    margin-top: 20px;
    justify-content: space-between;
}

.descricaoDoServico2 {
    margin-left: 30px;
    margin-top: 20px;
    justify-content: space-between;
}

.caixa2 {
    margin-left: 30px;
    margin-top: 20px;
    justify-content: space-between;
}

.valor {
    margin-left: 30px;
    margin-top: 20px;
    justify-content: space-between;
}

.caixa3 {
    margin-left: 30px;
    margin-top: 20px;
    justify-content: space-between;
}

input{
    border-radius: 2em;
    border-color:  #E5E5E5;
    padding-left:  0.8em;
    padding-right: 0.8em;
}

.txtBusca{
    height: 150%;
}

form button{
    cursor: pointer;
}

.divBusca button{
    height: 50%;
    width: 80%;
    background:  url('/images/imagemlupa.png');
    background-repeat: no-repeat;
    border: none;
}

textarea{
    flex: 1;
    border-radius: 2em;
    border-color: #E5E5E5;
    padding:       0.25em;
}

.email001 {
    display:flex;
    flex-direction:row;
    justify-content:center;
    padding-bottom: 2vh;
    color: white}
.senha{
    display: flex;
    flex-direction: row;     
    justify-content: center; 
    padding-bottom: 2vw;
    color: white}    

#txtFreelancerJaHeader {
    display: flex;
    padding-left: 1.5vw;
    font-size: 2vw;
    color:#FFF;
}

label {
    padding-right: 1vw;
} 

.justificavertival {
    padding-bottom: 10vh;
}

.input_servico{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    white-space: nowrap;
    width: 100%;
}
.input_servico label{
    width: 180px;
}
.input_servico input{
    flex: 1}
.faleconosco {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vw;
    font-size: 80px;
}

#faleconoscoazul {
    background-color: #1BD5DB;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fale001 {
    font-size: 3rem;
    color: #fff;
    margin-top: 0px;
}

.faleimg {
    margin: 0;
    width:80%;
    padding-left: 80px;
}

tamanho da bola do radio button
.bolaradiobutton {
    width:  24px;
    height: 24px;  
}
*/